.git
.github
.vscode
.idea
node_modules
vendor
desktop
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.example
*.phpunit.result.cache
Academic Pulse Forum.docx
Ml
